<div class="header">
  <h1><%= link_to 'Bueller', root_path, id: 'logo'%></h1>
  <h2 class='new-user-btn'><%= link_to 'Sign Up!', signup_path, class: 'btn btn-large btn-primary' %></h2>
  <h3 class='new-user-btn'><%= link_to 'Sign In!', signin_path, class: 'btn btn-large btn-primary' %></h3>
</div>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: 'alert alert-success' %>
<% end %>