@import "bootstrap";

/* Variables */
$lightgray: #999;
$mediumlightgray: #eaeaea;

html {
}

h1 {
 font-size:5em; 
}

h2 {
  float: left;
  padding-left:10px;
  padding-top:-10px;
  padding-right:10px;
}

h3 {
  float: right; 
  padding-left:10px;
  padding-top:-10px;
  padding-right:10px;
}

.header { 
  text-align: center;
  color:white;
  margin-top:-25px;
  margin-bottom:-10px;
  background-image: image-url("download.jpeg");
  -webkit-box-shadow: 1px 1px 1px 1px #3576BF;
  box-shadow: 1px 1px 1px 1px #3576BF;
}

small {
  font-size: 1.1em; line-height: 1.7em;
  color:#000;
}


#logo {
  color:white;
  text-decoration:none;
}
  
.img {
  width:130px;
  height:130px;
}

.nickname {
   font-size: 2em; line-height: 1.7em;
}

.align {
 padding-top:10px;
 margin-left:-40px; 
}

.new-user-btn {
 margin-top:-70px;
 margin-right:10px;
}

.main {
 text-align:center;
  padding-top:70px;
}

.btn:hover {
  -webkit-box-shadow: 5px 5px 9px 1px #3576BF;
  box-shadow: 5px 5px 9px 1px #3576BF;
}

#box {
 float:right; 
 padding-right:70px; padding-top:30px;
 font-size: 1.5em;
}

.center {
  text-align:center;
}

.name {
 padding:20px; 
}

.attendance-btn {
  float: right; 
}

#error_explanation {
  font-size:0.2em;
  text-align:center;
}

.tableBorder {
  border-style:solid;
  padding:50px;
}

.absent {
  float: left;
  padding:5px;
}

.datePicker {
  float: right; 
}

/* forms */
input, textarea, select, .form { 
  border: 1px solid #bbb; 
  width: 97%; 
  margin: 20px;
  height: auto;  
  /*@include box-sizing;*/
}