<%= render 'header' %>

<h1>Attendance:</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Attendance Date</th>
      <th>Seat</th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= link_to attendance.user.name, attendances_path(:search => attendance.user.id) %></td>
        <td><%= attendance.attended_on %></td>
        <td><%= attendance.seat_num %></td>
      </tr>
    <% end %>
  </tbody>
</table>